* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.2s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #69c;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #69c;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #4682b4;
  }
  
  .error-msg {
    color: red;
    margin-top: 5px;
    font: 10px;
  }

  @media only screen and (min-width: 768px) {
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  